#panel-news{
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    margin-left: 10% ;
    margin-right: 35% ;
    margin-top: 2%;
}

.img-circle {
    margin-top: 1%;
    margin-left: 1%;
}

.news-button{
  background-color: #7f8c8d;
  color: white;
  border-color: #7f8c8d;
  border-width: 0px;
  text-align: center;
  margin-top: 3%;
  font-size: 8px;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@media screen and (min-width: 768px)  {
  .news-button{
  font-size: 12px;
}
}

@media screen and (min-width: 800px)  {
  .news-button{
  font-size: 15px;
}
}
